body {
  background-color: white;
  margin: 0;
  padding: 0;
}

.studyplan-container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 32px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.75);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #17252a; 
  }
  
  .studyplan-title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 24px;
    text-align: center;
    color: #1e40af;

  }
  
  .studyplan-label {
    font-weight: 700;
    font-size: 50px;
    color: #1e40af 
  }
  
  .studyplan-container p {
    font-size: 30px;
    margin-bottom: 16px;
    line-height: 1.5;
  }
  
  hr {
    border: none;
    height: 1px;
    background: #d1d5db; 
    margin-bottom: 0;
  }

  /**/
  
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 50px;
}

.view-timetable-button {
  padding: 50px 80px;
  background-color: #1e40af;
  color: white;
  border-radius: 16px;
  font-size: 25px;
  font-weight: 600;
  transition: background-color 0.25s ease;
}

.view-timetable-button:hover {
  background-color: darkgoldenrod;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.Go-Back-button {
  padding: 50px 80px;
  background-color: #1e40af;
  color: white;
  border-radius: 16px;
  font-size: 25px;
  font-weight: 600;
  transition: background-color 0.25s ease;
}

.Go-Back-button:hover {
  background-color: darkgoldenrod;
}

.timetable-container {
    margin-top: 1rem;
  }
  
  .semester-card {
    background-color: #f9fafb;
  }
  