body {
  background-color: white;
  margin: 0;
  font-family: Arial, sans-serif;
}

.create-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 80px 20px 10px;
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  position: relative;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 80px;
  left: -700px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: white;
}

.create-header2 {
  margin-bottom: 0;
  padding-top: 10px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: white;
}

.create-header {
  margin-bottom: 0;
  padding-top: 10px;
  font-family: Arial, sans-serif;
  background-color: white;
}

.create-header2 img {
  width: 200px;
  height: auto;
}

.create-header img{
  width: 400px;
  height: auto;
}
  
  .create-header .titles {
    margin-left: 20px;
  }
  
  .create-header .titles h1 {
    font-weight: bold;
  }
  
  /* Questions */
  .question {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  /* Selection Table */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  
  .selection {
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid black;
    text-align: center;
    user-select: none;
    transition: background-color 0.2s ease;
  }
  
  .selection:hover {
    background-color: #A8C4E8;
  }
  
  .selection-active {
    background-color: #A8C4E8;
  }
  
  /* Checkbox Section */
  .checkbox-item {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }
  .checkbox-item input[type="checkbox"] {
  width: 35px;
  height: 35px;
  margin-right: 15px;
  }
  
  .checkbox-item label {
    margin-left: 10px;
    user-select: none;
    font-size: 1.5rem;
  }
  
  /* Submit Button */
  .submit-container {
    margin-top: 30px;
    text-align: center;
  }
  
  .submit-button {
    padding: 15px 20px;
    background-color: #1e40af;
    color: white;
    border: none;
    border-radius: 15px;
    font-weight: 800;
    font-size: 2rem;
    cursor: pointer;
    transition: background 0.2s ease;
  }
  
  .submit-button:hover {
    background-color: darkgoldenrod;
  }
  